/* --- MOBILE STYLES --- */

.landing .name {
  text-transform: uppercase;
  font-size: 150px;
  background: url("/Users/lewis/projects/personal-site/portfolio/personal-site/src/images/water.jpg")
  top;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.landing .description {
  font-size: 22px;
}

.landingImage {
  right: 0px;
}

.landing .socialIcons {
  display: none;
}

.landing .socialIcons {
  display: flex;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

/* --- MEDIA QUERIES --- */

@media (max-width: 750px) {
  .landing .name {
    font-size: 70px;
  }

  .landing .description {
    font-size: 32px;
  }

  .landingImage {
    bottom: 0;
    right: 80px;
  }

  .landing .socialIcons {
    flex-direction: column;
  }
}


/* test */
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);



/* svg{font-weight:bold;max-width:600px;height:100%;} */
